html {
  text-align: center;
  font-family: "Roboto", Helvetica, sans-serif;
}

body {
  overflow-x: hidden;
}

.description {
  max-width: 600px;
  margin: 0 auto;
  color: rgba(229, 229, 229, 0.7);
}

div{
/*  position: relative;*/
  box-sizing: border-box;
}



img, footer {
  position: relative;
}


h1, h2, h3, h4, h5 {
  margin-bottom: 20px;
  text-transform: uppercase;
  font-family: "Roboto Condensed", Helvetica, sans-serif;
  font-weight: 300;
  color: black;
}

h1 {
  font-size: 36pt;
}

h2 {
  text-align: center;
  font-size: 24pt;
  height: 14%;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  color: white;
  background-color: grey;
}

h3 {
  font-size: 12pt;
}

h4 {
  font-size: 16pt;
}

h5 {
  font-size: 14pt;
}

h6 {
  font-size: 12pt;
}

p {
  font-size: 20pt;
}

strong {
  font-weight: 900;
  font-family: "Roboto Condensed", Helvetica, sans-serif;
  color: #e5e5e5;
}

a {
  -webkit-transition: color 0.25s ease-in-out;
  transition: color 0.25s ease-in-out;
  font-family: "Roboto Condensed", Helvetica, sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #dff3fd;
}
a:visited {
  color: #dff3fd;
}

li.active a, a:hover, a:active {
  color: #e5e5e5;
}

section{
  height: 100%;
  width: 100%;
  background: rgba(70, 151, 70, 1);
  justify-content: center;
  text-align: center;
}

.margin-div{
  position: absolute;
  /*height: auto;*/
  top: 30px;
  right: 30px;
  height: 100%;
}

.container{/*
  position: absolute;*/
  margin: auto;
  align-self: center;
}

/*.margin-div .ulx{
  float: bottom;
}*/

.margin-div .ulx{
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  width: 70px;
}

.margin-div .zoom{
  height: 30px;
  width: 30px;
  align-self: center;
  display: block;
  border-radius: 50%;

  
}

.margin-div .Range{
  align-self: center;
  writing-mode: bt-lr; /* IE */
  -webkit-appearance: slider-vertical; /* WebKit */
  width: 70px;
}

.button1 {
  align-self: center;
  width: 70px;
  height: 70px;

  border-radius: 50%;
  padding-top: 4px;
  outline: none;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  font-family: "Roboto Condensed", Helvetica, sans-serif;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: #e74c3c;
  border: none;
  color: black;/*white;*/
}

.button5 {
  align-self: center;
  width: 70px;  
  height: 70px;

  border-radius: 50%;
  outline: none;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  font-family: "Roboto Condensed", Helvetica, sans-serif;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: #e74c3c;
  color: black;
}

.button5:hover {
  background-color: grey;
  color: white;
}

.button1:hover {
  background-color: grey;
  color: white;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.centered-y {
  position: absolute;
  width: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.distribution-map {
  position: relative;
  align-self: center;

}
.distribution-map > img {
  position: relative;
  margin: auto;
  align-self: center;
}

.distribution-map .map-point {
  background-color: Transparent;
  background-repeat:no-repeat;
  width: 50px;
  height: 50px;
  position: absolute;
}

.distribution-map .map-point:hover{
  opacity: 0.7;
}

